@model ReservationSystemProject.Areas.Admin.Models.Reservation.Details

@{
    ViewData["Title"] = "Details";
}

<div class="views">
    <h1 class="mt-3 mb-2">Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sitting)
        </dd>
    </dl>
    <div class="form-group col-12 d-flex justify-content-start">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary col-2 align-self-center me-1">Edit</a> 
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger col-2 align-self-center me-1">Delete</a> 
        <a asp-action="Index" class="btn btn-primary col-2 align-self-center ms-1">Back to List</a>
    </div>
</div>

